<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{ISO8601} [%5level] %logger{0}: %message%n%xEx{5}</pattern>
    </encoder>
  </appender>

  <appender name="file" class="ch.qos.logback.core.FileAppender">
    <file>${log.dir}/${project.artifactId}.log</file>
    <append>false</append>
    <encoder>
      <pattern>%date{ISO8601} [%5level] [%thread] %logger: %message%n%xEx{5}</pattern>
    </encoder>
  </appender>

  <appender name="CUSTOM" class="com.coremedia.uitesting.junit.bdd.aop.JUnitAopStepsLoggerTestAppender">
    <encoder>
      <pattern>%logger{0} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.coremedia.uitesting.junit.bdd" level="debug"/>

  <logger name="com.coremedia.uitesting.junit.bdd.aop.JUnitAopStepsLogger" level="info">
    <appender-ref ref="CUSTOM"/>
  </logger>

  <root level="warn">
    <appender-ref ref="file"/>
    <appender-ref ref="stdout"/>
  </root>
</configuration>
