<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>net.joala.lab.junit.template</title>
</head>
<body>
<p>
  Contains experimental classes to provide common test patterns like testing
  methods like <code>toString()</code>, <code>hashCode()</code> and <code>equals()</code> and alike.
</p>
@since 10/4/12
</body>
</html>