## In order to assist Code Completion add maven-core as dependency in your IDE.
#* @vtlvariable name="project" type="org.apache.maven.project.MavenProject" *#
`${project.groupId}:${project.artifactId}:${project.packaging}:${project.version}`

${project.description}

<h3>About Joala</h3>

Joala is a set of libraries to assist in writing tests based on [JUnit][] testing framework.
The origin of Joala is the concept of waiting in tests implemented in the module `joala-conditions`.

<h3>Dependency</h3>

```xml
<dependency>
  <groupId>${project.groupId}</groupId>
  <artifactId>${project.artifactId}</artifactId>
  <type>${project.packaging}</type>
  <version>${project.version}</version>
</dependency>
```

<h3>Usage</h3>

```xml
<dependencyManagement>
  <dependencies>
    <dependency>
      <groupId>${project.groupId}</groupId>
      <artifactId>${project.artifactId}</artifactId>
      <type>${project.packaging}</type>
      <version>${project.version}</version>
      <scope>import</scope>
    </dependency>
  <dependencies>
<dependencyManagement>
```

<h3>Thanks to...</h3>

* [Lucidchart][], used to create documentation graphics

<!-- Links -->

[JUnit]: <http://www.junit.org/> "JUnit.org Resources for Test Driven Development"
[Lucidchart]: <https://www.lucidchart.com/> "Flow Chart Maker  &amp; Online Diagram Software"
