## In order to assist Code Completion add maven-core as dependency in your IDE.
#* @vtlvariable name="project" type="org.apache.maven.project.MavenProject" *#
`${project.groupId}:${project.artifactId}:${project.packaging}:${project.version}`

${project.description}

<h3>Dependency</h3>

```xml
<dependency>
  <groupId>${project.groupId}</groupId>
  <artifactId>${project.artifactId}</artifactId>
  <type>${project.packaging}</type>
  <version>${project.version}</version>
</dependency>
```

<h3>Usage</h3>

```xml
<dependencyManagement>
  <dependencies>
    <dependency>
      <groupId>${project.groupId}</groupId>
      <artifactId>${project.artifactId}</artifactId>
      <type>${project.packaging}</type>
      <version>${project.version}</version>
      <scope>import</scope>
    </dependency>
  <dependencies>
<dependencyManagement>
```
