<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright 2013 CoreMedia AG
  ~
  ~ This file is part of Joala.
  ~
  ~ Joala is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Joala is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Joala.  If not, see <http://www.gnu.org/licenses/>.
  -->

<configuration>
  <!-- read configuration which can be overridden by system properties -->
  <variable scope="system"
            resource="logback-test.properties"/>

  <include resource="META-INF/joala/bdd/bdd-logback.xml"/>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{ISO8601} [%5level] %logger{0}: %message%n%xEx{5}</pattern>
    </encoder>
  </appender>

  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${config.log.file}</file>
    <encoder>
      <pattern>${config.log.pattern}</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <maxIndex>10</maxIndex>
      <FileNamePattern>${config.log.file}.%i</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>4MB</MaxFileSize>
    </triggeringPolicy>
  </appender>

  <!-- also log to file and not only to default console -->
  <logger name="${bdd.story.logger.name}" additivity="false" level="${bdd.log.level}">
    <appender-ref ref="file"/>
  </logger>

  <!-- also log to file and not only to default console -->
  <logger name="${bdd.steps.logger.name}" additivity="false" level="${bdd.log.level}">
    <appender-ref ref="file"/>
  </logger>

  <logger name="net.joala.image" additivity="false" level="debug">
    <appender-ref ref="file"/>
  </logger>

  <root level="${config.root.log.level}">
    <appender-ref ref="file"/>
  </root>

</configuration>
